<a href="https://colab.research.google.com/github/VanHeatcliff/LAB---Scientific-Computing/blob/main/SC_sesi_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sesi 1

In [ ]:
print("Hello")

Hello

In [ ]:
import time

In [ ]:
print(time.ctime())

Thu Feb  6 04:41:01 2025

In [ ]:
z = "Hello"
y = 20
c = 30.9
f = ["Apple", "Berry"]

z, y, c, f
print(z, y, c, f)

Hello 20 30.9 ['Apple', 'Berry']

In [ ]:
o = int(1)
y = int (2.8)
z = int ("3")
j = str(20)

print(o, y, z, j)

1 2 3 20

In [ ]:
a = "Hello"
b = " World"
c = a+b
print(c)

Hello World

In [ ]:
a = "Hello World"
print(a[1])

print(len(a))

e
11

In [ ]:
b = "BINUS University"
print(b[2:5]) #diantara

c = "BINUS University"
print(c[:5]) #potong sebelum

d = "BINUS University"
print(d[2:]) #potong sesudah

NUS
BINUS
NUS University

In [ ]:
a = "Hello"
print(a.upper())

b = "HELLO"
print(b.lower())

c = "Hello"
print(a.replace("H", "J"))

HELLO
hello
Jello

In [ ]:
nama = "Sam"
x = 19
string = "nama saya {} umur {}"

print(string.format(nama, x))

nama saya Sam umur 19

In [ ]:
nama = "Grace"
for i in enumerate(nama):
  print(i)

(0, 'G')
(1, 'r')
(2, 'a')
(3, 'c')
(4, 'e')

In [ ]:
def perbandingan (a, b):
  if a>b:
    print("a lebih dari b")
  elif b>a:
    print("b lebih dari a")
  else:
      print("a sama dengan b")

In [ ]:
perbandingan (4, 8)

b lebih dari a

In [ ]:
i=1
i=1
while i<6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i=3
for i in range(3,6):
  print(i)

3
4
5

In [ ]:
for i in range(2,41):
  if i%2 == 0:
    print(str(i) + " Genap")
  else:
    print(str(i) + " Ganjil")

2 Genap
3 Ganjil
4 Genap
5 Ganjil
6 Genap
7 Ganjil
8 Genap
9 Ganjil
10 Genap
11 Ganjil
12 Genap
13 Ganjil
14 Genap
15 Ganjil
16 Genap
17 Ganjil
18 Genap
19 Ganjil
20 Genap
21 Ganjil
22 Genap
23 Ganjil
24 Genap
25 Ganjil
26 Genap
27 Ganjil
28 Genap
29 Ganjil
30 Genap
31 Ganjil
32 Genap
33 Ganjil
34 Genap
35 Ganjil
36 Genap
37 Ganjil
38 Genap
39 Ganjil
40 Genap

In [ ]:
import numpy as np

In [ ]:
x = np.array([[1, 2, 3], [3, 6, 7]])
x

array([[1, 2, 3],
       [3, 6, 7]])

In [ ]:
y = np.array([[6, 4, 7], [9, 1, 4]])
y

array([[6, 4, 7],
       [9, 1, 4]])

In [ ]:
print(x+y)

[[ 7  6 10]
 [12  7 11]]

In [ ]:
data = np.array ([10, 9, 8, 7, 5, 6])

print("Rata-rata:", np.mean(data))
print("Maksimum:", np.max(data))
print("Minimum:", np.min(data))
print("Standar Deviasi:", np.std(data))

Rata-rata: 7.5
Maksimum: 10
Minimum: 5
Standar Deviasi: 1.707825127659933